.event-item-area {
  padding: 80px 0;
}
.event-heading {
  color: black;
  font-weight: 600;
  font-size: 35px;
  height: 55px;
}

.comedian-area {
  padding: 80px 0;
}

.club-area {
  padding: 80px 0;
}

.btn-custom {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  height: 55px;
  width: 13rem;
  background: #6c2bd9;
  color: #ffffff;
}


.location-style {

  height: 50%;
}

.dropdownicon-style {
  height: 100%;
}

/* .fa-caret-down{
      transform: rotate(180deg);
  
  } */

@media (max-width: 768px) {
  .btn-custom {
    margin-bottom: 20px;
  }
}
