.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 1.4rem;
  font-family: inter, sans-serif;
}

.navbar-light .navbar-brand {
  color: white;

  font-family: "Inter";
  font-weight: 600;
  font-size: 24px;
}
.nav-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
}
.nav-link {
  color: white;
}

header {
  z-index: 0;
  height: 100vh;
  min-height: 440px;
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/background.png");
}

.navbar {
  z-index: 1; /* Adjust the z-index value as needed */
}

.container-txt {
  
  
  margin-top: 10%;
  margin-left: 0.7rem;
  

  font-family: "Inter";

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  width: 30%;
  /* or 27px */

  color: #ffffff;
}
.cover-item {
  align-self: center;
  justify-self: center;
}
.cover-item-text {
  align-self: center;
  justify-self: center;
}

.navcondition {
  padding-top: 10rem;
  padding-left: 10rem;
}



.nav-costom-color {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  /* or 58px */

  color: #ffffff;
}

@media (max-width: 700px) {
  .container-txt {
    width: 80%; /* Adjust width for smaller screens */
    margin-top: 0; /* Remove top margin */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    text-align: center; /* Center align text */
    padding-top: 10rem; /* Add padding to create space */
  }
}
