.navbar-light .navbar-nav .nav-link{
    color: white;
    font-size: 1.4rem;
} 

.navbar-light .navbar-brand{
    color:white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/background.jpg");
}

.container-txt{
padding-top: 15rem;

}
.container{
    
    top: 10%; 
    
    text-align: start; 
  }
  
  .container h1,
  .container p {
    color: white;
  }

  

 
 