.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    
  }
  
  .area{
    max-width: 19rem;

  }
  /* .form-control{
    border: none;
    background-color: #424d5f;
    color:#767C8E
    
  }
  .form-control:hover {
    border: none;
    background-color: #424d5f;
  }
  
  .form-control:hover:focus {
    border: none;
    background-color: #424d5f;
  } */

  .menu-list li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .menu-list li:last-child {
    margin-right: 0;
  }
  
  .menu-list li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .menu-list li a:hover {
    text-decoration: underline;
  }
  .text-light {
    color: #9e9393a6; /* Adjusted text color */
  }

  .icons{
    margin-left: 20px;
  }
  
  @media (max-width: 768px) {
    .menu-list li {
      display: block; 
      margin-right: 0; 
      margin-bottom: 10px; 
    }
  }
  
  
  