.event-item-area{
    padding: 80px 0;
    }
.btn-custom {
 
    font-size: 1.5rem;
    font-weight: 500;
  }

  .custom-circle {
    width: 25px; 
    height: 25px; 
    background-color:#D9D9D9; 
    border-radius: 50%; 
    border: none; 
  }


.card-custom{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
}
.card-img-custom{
    border-radius: 20px 20px 0px 0px;
}




@media (max-width: 600px) {
    
    .card-custom{
        margin-top: 60px;
    }
    .btn-custom{
        margin-bottom: 20px;
    }
}



